name: Build APK
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with: { python-version: '3.11' }
      - run: sudo apt update && sudo apt install -y python3-pip openjdk-17-jdk
      - run: pip install cython buildozer

      - run: buildozer android debug
      - uses: actions/upload-artifact@v4 
        with:
          name: app-debug
          path: bin/*.apk
